﻿@inject UserManager<User> UserManager
@inject AppDbContext Context
<link rel="stylesheet" href="~/css/index4.css" />

@section navbar_Participant {
    <section class="navbar">
        @Html.Partial("_Navbar_Participant")
    </section>
}
<div class="content_flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-10" id="subheader"><h2>Szczegóły</h2></div>
            <hr />
        </div>
        <div class="row">
            <div class="col col-md-6">
                <h6>Imię:</h6>
            </div>
            <div class="col col-md-6" id="inf">
                @if (!string.IsNullOrEmpty(Context.Participants.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).FirstName))
                {
                    @Context.Participants.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).FirstName
                }
                else
                {
                    <span class="text-muted">
                        Brak
                    </span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <h6>Nazwisko:</h6>
            </div>
            <div class="col col-md-6" id="inf">
                @if (!string.IsNullOrEmpty(Context.Participants.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).LastName))
                {
                    @Context.Participants.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).LastName
                }
                else
                {
                    <span class="text-muted">
                        Brak
                    </span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <h6>Wiek:</h6>
            </div>
            <div class="col col-md-6" id="inf">
                @if (!Context.Participants.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).Age.Equals(0))
                {
                    @Html.DisplayFor(modelItem => @Context.Participants.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).Age)
                }
                else
                {
                    <span class="text-muted">
                        Brak
                    </span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <h6>Płeć:</h6>
            </div>
            <div class="col col-md-6" id="inf">
                @if (!string.IsNullOrEmpty(Context.Participants.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).Gender.ToString()))
                {
                    @Html.DisplayFor(modelItem => @Context.Participants.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).Gender)
                }
                else
                {
                    <span class="text-muted">
                        Brak
                    </span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <h6>Email:</h6>
            </div>
            <div class="col col-md-6" id="inf">
                @Context.Participants.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).Email
            </div>
        </div>
    </div>

</div>


