﻿@model TestListVM
@inject AppDbContext Context
<link rel="stylesheet" href="~/css/index5.css" />

@section navbar {
    <section class="navbar">
        @Html.Partial("_Navbar_Participant")
    </section>
}

@{
    ViewBag.Title = "Lista testów";
}

<div class="container_flex">
    <div class="content-fluid">
        <div class="row" id="title">
            <div class="col-sm-10">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="col-sm-2" style="float: right;">
                <div class="" style="float: right;">
                    <a href="@Url.Action("CreateTest")" class="btn pull-right">
                        <i class="material-icons" id="icon" data-toggle="tooltip" data-placement="bottom" title="Dodaj">&#xE147;</i>
                    </a>
                </div>
            </div>
        </div>

        @if (Model.Tests.ToList().Count > 0)
        {
            <div class="table-response">
                <table class="table table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <th scope="col"><strong>#</strong></th>
                            <th scope="col">Nazwa</th>
                            <th scope="col">Kategoria</th>
                            <th scope="col">Opis</th>
                            <th scope="col">Wynik</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 0;
                            foreach (var item in Model.Tests.ToList())
                            {
                                i++;
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.Name))
                                        {                                           
                                            <strong></strong><a asp-area="" asp-controller="Test" asp-action="">@item.Name</a>
                                        }
                                        else
                                        {
                                            <span class="text-muted">
                                                Brak
                                            </span>

                                        }


                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(@Context.TestCategory.FirstOrDefault(c => c.CategoryId == item.CategoryId).Name))
                                        {
                                            @if (@Context.TestCategory.FirstOrDefault(c => c.CategoryId == item.CategoryId).Name.Contains("Adult"))
                                            {
                                                <span>Dla dorosłych</span>
                                            }
                                            else
                                            {
                                                <span>Dla dzieci</span>
                                            }
                                        }
                                        else
                                        {
                                            <span class="text-muted">
                                                Brak
                                            </span>
                                        }

                                    </td>
                                    <td>

                                        @if (!string.IsNullOrEmpty(item.Description))
                                        {
                                            @item.Description
                                        }
                                        else
                                        {
                                            <span class="text-muted">
                                                Brak
                                            </span>

                                        }

                                    </td>
                                    <td>

                                        @if (item.Solved)
                                        {
                                            @item.Result
                                        }
                                        else
                                        {
                                            <span class="text-muted">
                                                Brak
                                            </span>

                                        }

                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        }
    </div>
</div>


