﻿
<link rel="stylesheet" href="~/css/navbar4.css" />

<nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><strong>Testy psychologiczne</strong></a>
        <a class="nav-link text-dark navbar-right" asp-area="" asp-controller="Account" asp-action="Login">Zaloguj</a>
    </div>
</nav>
