﻿body {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.8) 100%), url(../images/pexels-lumn-167699.jpg);
}

.content_flex {
    height: 100vh;
    display: flex;
    justify-content: center;    
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

.text-muted {
    color: rgb(45, 77, 106, 0.6) !important;
}

.border-top {
    border-top: 1px solid rgb(45, 77, 106, 0.4) !important;
}

#header {
    margin-bottom: 10px;
    margin-top: 100px;
}

.col {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.form-control {
    height: 45px;
    font-size: 16px;
    color: #5f6b79;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.text-danger {
    color: rgb(205, 109, 0) !important;
    font-size: 15px;
}

.login_btn {
    margin-top: 10px;
    height: 45px;
    margin-bottom: 0;
    color: #dde4eb;
    background-color: #525a62;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    border-color: #535b65;
}

    .login_btn:hover {
        color: #dde4eb;
        background-color: #525a62;
        border-color: #535b65;
    }

.links {
    color: #b9b7b6;
    font-size: 23px;
}

    .links a {
        color: #cc6e36;
    }