﻿body {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.8) 100%), url(../images/pexels-lumn-167699.jpg);
}

.content_flex {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom:80px;
}

.center {
    margin: 0 auto;
    width: 80%;
}

.container-fluid {
    margin-left: 50px;
    margin-right: 50px;
}

.text-muted {
    color: rgb(45, 77, 106, 0.6) !important;
}

.border-top {
    border-top: 1px solid rgb(45, 77, 106, 0.4) !important;
}

.text-danger {
    color: rgb(205, 109, 0) !important;
    font-size: 15px;
}

#header {
    margin-bottom: 10px;
    margin-top: 100px;
}

.col {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 18px;
}

.links {
    color: #b9b7b6;
    font-size: 23px;
}

    .links a {
        color: #cc6e36;
    }

#title {
    flex-wrap: nowrap;
}

.material-icons {
    color: rgba(72, 99, 123, 0.71);
    background-color: transparent;
    border-color: #48637b !important;
}

#icon {
    font-size: 30px !important;
}
