﻿body {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.8) 100%), url(../images/pexels-lumn-167699.jpg);
}

.content_flex {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom:80px;
}

.center {
    margin: 0 auto;
    width: 80%;
}

.container-fluid {
    margin-left: 50px;
    margin-right: 50px;
}

.text-muted {
    color: rgb(45, 77, 106, 0.6) !important;
}

.border-top {
    border-top: 1px solid rgb(45, 77, 106, 0.4) !important;
}

.text-danger {
    color: rgb(205, 109, 0) !important;
    font-size: 15px;
}

#header {
    margin-bottom: 10px;
    margin-top: 100px;
}

.col {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 18px;
}

.links {
    color: #b9b7b6;
    font-size: 23px;
}

    .links a {
        color: #cc6e36;
    }

.add_btn {
    color: rgba(154, 79, 34, 0.86) !important;
    background-color: #f6f6f7;
    border-color: rgba(154, 79, 34, 0.86) !important;
    font-size: 15px;
}

    .add_btn:hover {
        color: #0a0909 !important;
        background-color: #a36b49;
        border-color: #a86c47 !important;
    }