﻿.content_flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#summary {
    background-color: rgb(205, 109, 0, 0.8);
    border-radius: .2rem;
}

#summary ul li {
    list-style-type: none;
    text-align: left;
    position: relative;
    right: 30px;
    color: white !important;
    font-size: 15px;
}

.text-danger {
    color: rgb(205, 109, 0) !important;
    font-size: 15px;
}

.card {
    height: auto;
    margin-top: 0px;
    margin-bottom: auto;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    width: 380px;
    background-color: rgba(97, 108, 121, 0.70) !important;
    border-color: rgba(91, 81, 77, 0.2) !important;
    border-radius: .5rem;
}

.card-header {
    border-bottom: none;
    background-color: transparent;
}

    .card-header h3 {
        color: #dde4eb;
        font-size: 32px;
    }

.card-body{
    padding-bottom: 0;
}

.card-footer {
    padding-top: 0;
    border-top: none;
    background-color: transparent;
}

.form-control {
    height: 45px;
    font-size: 16px;
    color: #5f6b79;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    font-size: 17px;
}

input[type=checkbox], input[type=radio] {
    margin: 2px 0 0;
}

.remember {
    color: white;
    font-size: 15px;
    display: flex;
    align-content: center;
}

    .remember input {
        width: 16px;
        height: 16px;
        margin-left: 15px;
        margin-right: 5px;
    }

#login_fg {
    margin-bottom:5px !important;
}

.login_btn {
    margin-top: 20px;
    height: 45px;
    margin-bottom: 0;
    color: #dde4eb;
    background-color: #525a62;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    border-color: #535b65;
}

    .login_btn:hover {
        color: #dde4eb;
        background-color: #525a62;
        border-color: #535b65;
    }

.links {
    color: #cbd8e4;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

    .links a {
        color: white;
    }

