﻿body {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.2) 100%), url(../images/pexels-lumn-167699.jpg);
}

.navbar {
    min-height: 60px;
    margin-bottom: 0px;
    border: none;
    width: 100%;
    padding: 0 !important;

}

.navbar-brand {
    color: rgb(72, 99, 123) !important;
    font-size: 20px;
    padding-left: 0.5rem;
}

.navbar-right {
    font-size:17px;
}

.text-muted {
    color: #dde4eb !important;
}

.border-top {
    border-top: 1px solid #dde4eb;
}

nav.navbar {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0.54rem 0 0;
    border-radius: .2rem; 
    min-width: 100%;
}

#userMenu {
    color: rgb(72, 99, 123);
}

#logout {
    color: rgb(72, 99, 123);
}


