﻿.content_flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 90vh;
}

.row {
    margin-top: 10px;
    margin-bottom: 15px;
    flex-wrap: nowrap;
}

.links {
    color: #7d7572;
}

.confirm {
    color: #a76740 !important;
}

a.links {
    color: #7d7572 !important;
}

a.links.confirm {
    color: #a76740 !important;
}


a.links .confirm {
    color: #7d7572 !important;
}


table.table td a.edit {
    color: rgba(91, 81, 77, 0.68);
}

table.table td a.delete {
    color: rgba(199, 112, 60, 0.92);
}

table.table th {
    text-align: center;
}

table.table td {
    text-align: center;
}

.table {
    background-color: #f6f6f7;
    min-width: 100%;
    width: auto;
    position: relative;
    align-content: center;
}
.mb-3 {
    margin-bottom: 1px !important;
}

.alert {
    width: 100%;
    -webkit-animation: 10s 1 zanikanie;
    animation: 6s 1 zanikanie;
    opacity: 0;
    margin-bottom: 0;
    padding-bottom: 1px;
}

@keyframes zanikanie {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    70% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes zanikanie {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    70% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.close {
font-size: 2rem;
}

.modal {
    width: 100%;
    padding-right:15px;
}

.modal .modal-dialog {
    min-width: 80vh;
    display: flex;
    justify-content: center;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 25px 30px;
}

.modal .modal-content {
    width:auto;
    display: flex;
    justify-content: center;
}

.modal .modal-body {
    font-size: 15px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
    height: 12vh;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}

.btn-group {
    display: flex;
    align-items: end;
}

.cancel2_btn {
    margin-top: 10px;
    color: #778a9b;
    background-color: #f6f6f7;
    border-color: #778a9b;
    font-size: 15px;
    min-width: 100px;
}

    .cancel2_btn:hover {
        color: #0a0909;
        background-color: rgb(72, 99, 123);
        border-color: rgb(72, 99, 123);
    }

.delete2_btn {
    margin-top: 10px;
    color: #f6f6f7;
    background-color: #778a9b;
    font-size: 15px;
    min-width: 100px;
}

    .delete2_btn:hover {
        color: #0a0909;
        background-color: rgb(72, 99, 123);
        border-color: rgb(72, 99, 123);
    }

.text-muted {
    color: #585656
}
