﻿<div class="row">
    <div class="col col-md-12 text-center" id="header"><h2><strong>Uwaga</strong></h2></div>
</div>
<div class="row">
    <div class="col col-md-12 text-center" id="subheader">Adres email tego konta został już potwierdzony.</div>
</div>