﻿<div class="row">
    <div class="col col-md-12 text-center" id="header"><h2><strong>Błąd!</strong></h2></div>
</div>
<div class="row">
    <div class="col col-md-12 text-center" id="subheader">Brak uwierzytelnienia konta.</div>
</div>