﻿<div class="row">
    <div class="col col-md-12 text-center" id="header"><h2><strong>Dziękujemy!</strong></h2></div>
</div>
<div class="row">
    <div class="col col-md-12 text-center" id="subheader">Twoja rejestracja przebiegła pomyślnie. Teraz możesz się zalogować!</div>
</div>