﻿
<link rel="stylesheet" href="~/css/index3.css" />

@section navbar {
    <section class="navbar">
        @Html.Partial("_Navbar_Login")
    </section>
}

<div class="content_flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12" id="header"><h2><strong>Brak dostępu!</strong></h2></div>
        </div>
    </div>
</div>