﻿<link rel="stylesheet" href="~/css/index3.css" />

@section navbar {
    <section class="navbar">
        @Html.Partial("_Navbar_Login")
    </section>
}

<div class="content_flex">
    <div class="container-fluid">
        @{
            switch (@ViewBag.msg)
            {
                case "NotFound":
                    @await Html.PartialAsync("_NotFound.cshtml")
                    break;
                case "EmailConfirmed":
                    @await Html.PartialAsync("_EmailConfirmed.cshtml")
                    break;
                case "NotConfirmed":
                    @await Html.PartialAsync("_NotConfirmed.cshtml")
                    break;
                default:
                    @await Html.PartialAsync("_SuccessConfirm.cshtml")
                    break;
            }
        }
    </div>
</div>
