﻿<link rel="stylesheet" href="~/css/index3.css" />

@section navbar {
    <section class="navbar">
        @Html.Partial("_Navbar_Login")
    </section>
}

<div class="content_flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12 text-center" id="header"><h2><strong>Błąd!</strong></h2></div>
        </div>
        <div class="row">
            <div class="col col-md-12 text-center" id="subheader">Nie ma uzytkownika z tym adresem email lub konto nie zostało jeszcze potwierdzone.</div>
        </div>
    </div>
</div>
