﻿@model ForgotPasswordVM

<link rel="stylesheet" href="~/css/forgot_passw.css" />

@section navbar {
    <section class="navbar">
        @Html.Partial("_Navbar_Login")
    </section>
}
<div class="content_flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12" id="header"><h2><strong>Zapomniałeś hasła?</strong></h2></div>
        </div>
        <div class="row">
            <div class="col col-md-10" id="subheader">Na podany przez Ciebie adres email wyślemy link do zresetowania hasła.</div>
        </div>
        <form asp-action="ForgotPassword" asp-controller="Account" method="post" class="row" role="form">
            <div class="form-group col col-md-5">
                <input asp-for="Email" class="form-control" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Wyślij" class="btn login_btn">
            </div>
        </form>
    </div>
</div>
