﻿
<link rel="stylesheet" href="~/css/index3.css" />

@section navbar {
    <section class="navbar">
        @Html.Partial("_Navbar_Login")
    </section>
}
<div class="content_flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12 text-center" id="header"><h2><strong>Witaj!</strong></h2></div>
        </div>
        <div class="row">
            <div class="col col-md-12 text-center" id="subheader">Twoja rejestracja przebiegła pomyślnie. Potwierdź swoje konto na swoim emailu!</div>
        </div>
    </div>
</div>
