﻿@model LoginVM

<link rel="stylesheet" href="~/css/login2.css" />

@section navbar {
    <section class="navbar">
        @Html.Partial("_Navbar")
    </section>
}
<div class="content_flex">
    <div class="card">
        <div class="card-header">
            <h3><strong>Zaloguj się</strong></h3>
        </div>
        <div class="card-body">
            <form asp-action="Login" asp-controller="Account" method="post" class="form-horizontal" role="form">
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <div asp-validation-summary="ModelOnly" id="summary" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Hasło">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="row align-items-center remember">
                    <input asp-for="RememberMe">Zapamiętaj mnie
                </div>
                <div id="login_fg" class="form-group">
                    <input type="submit" value="Zaloguj" class="btn login_btn">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="links">
                <strong>Nie masz konta?</strong><a asp-area="" asp-controller="Account" asp-action="Register">Zarejestruj się</a>
            </div>
            <div class="links">
                <a asp-area="" asp-controller="Account" asp-action="ForgotPassword">Zapomniałeś hasła?</a>
            </div>
        </div>
    </div>
</div>
