﻿@model RegisterVM

<link rel="stylesheet" href="~/css/register2.css" />
@section navbar {
    <section class="navbar">
        @Html.Partial("_Navbar")
    </section>
}
<div class="content_flex">
    <div class="card">
        <div class="card-header">
            <h3><strong>Zarejestruj się</strong></h3>
        </div>
        <div class="card-body">
            <form asp-action="Register" asp-controller="Account" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="ModelOnly" id="summary" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Hasło">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Powtórz hasło">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="row align-items-center remember">
                    <input asp-for="Consent">Zgoda na przetwarzanie danych
                    <span asp-validation-for="Consent" id="checkbox_style" class="text-danger"></span>
                </div>
                <div id="register_fg" class="form-group">
                    <input type="submit" value="Zarejestruj" class="btn login_btn">
                </div>
            </form>
            <div class="card-footer">
                <div class="links">
                    <strong>Masz już konto?</strong><a asp-area="" asp-controller="Account" asp-action="Login">Zaloguj się</a>
                </div>
            </div>
        </div>
    </div>
</div>
