﻿@model ResetPasswordVM

<link rel="stylesheet" href="~/css/forgot2.css" />

@section navbar {
    <section class="navbar">
        @Html.Partial("_Navbar_Login")
    </section>
}

<div class="content_flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12" id="header"><h3><strong>Ustaw nowe hasło</strong></h3></div>
        </div>
        <form asp-action="ResetPassword" asp-controller="Account" method="post" class="form-horizontal col-md-3" role="form">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Code" />
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Hasło">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Powtórz hasło">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zmień" class="btn login_btn">
                </div>
        </form>
    </div>
</div>
