﻿@model ParticipantListVM
@inject AppDbContext Context

<link rel="stylesheet" href="~/css/table1.css" />

@if (Model.Participants.Any(a => a.CreateDate.Year == DateTime.Now.Year & a.CreateDate.Month == DateTime.Now.Month & a.CreateDate.Day == DateTime.Now.Day & a.CreateDate.Hour == DateTime.Now.Hour & a.CreateDate.Minute == DateTime.Now.Minute & a.CreateDate.Second == DateTime.Now.Second))
{
    <div class="alert alert-success" role="alert">
        <h5 class="alert-heading">
            Poprawnie utworzono użytkownika <strong>@Model.Participants.First(a => a.CreateDate.Year == DateTime.Now.Year & a.CreateDate.Month == DateTime.Now.Month & a.CreateDate.Day == DateTime.Now.Day & a.CreateDate.Hour == DateTime.Now.Hour & a.CreateDate.Minute == DateTime.Now.Minute & a.CreateDate.Second == DateTime.Now.Second).Email</strong>!
        </h5>
    </div>
}

@if (Model.Participants.Any(a => a.UpdateDate.Year == DateTime.Now.Year & a.UpdateDate.Month == DateTime.Now.Month & a.UpdateDate.Day == DateTime.Now.Day & a.UpdateDate.Hour == DateTime.Now.Hour & a.UpdateDate.Minute == DateTime.Now.Minute & a.UpdateDate.Second == DateTime.Now.Second))
{
    <div class="alert alert-success" role="alert">
        <h5 class="alert-heading">
            Udana edycja użytkownika <strong>@Model.Participants.First(a => a.UpdateDate.Year == DateTime.Now.Year & a.UpdateDate.Month == DateTime.Now.Month & a.UpdateDate.Day == DateTime.Now.Day & a.UpdateDate.Hour == DateTime.Now.Hour & a.UpdateDate.Minute == DateTime.Now.Minute & a.UpdateDate.Second == DateTime.Now.Second).Email</strong>!
        </h5>
    </div>
}

@if (Model.Participants.ToList().Count > 0)
{
    <div class="table-response">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th scope="col"><strong>#</strong></th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Płeć</th>
                    <th scope="col">Wiek</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 0;
                    foreach (var item in Model.Participants.ToList())
                    {
                        i++;
                        var delete = "DeleteModal" + @i.ToString();
                        var confirm = "ConfirmModal" + @i.ToString();
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @if (!@Context.Users.FirstOrDefault(c => c.Id == item.UserId).EmailConfirmed)
                                {
                                    <span class="text-danger">@Context.Users.FirstOrDefault(c => c.Id == item.UserId).UserName</span>
                                }
                                else
                                {
                                    @Context.Users.FirstOrDefault(c => c.Id == item.UserId).UserName
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Gender.ToString()))
                                {
                                    @Html.DisplayFor(modelItem => item.Gender)
                                }
                                else
                                {
                                    <span class="text-muted">
                                        Brak
                                    </span>
                                }


                            </td>
                            <td>
                                @if (!item.Age.Equals(0))
                                {
                                    @Html.DisplayFor(modelItem => item.Age)
                                }
                                else
                                {
                                    <span class="text-muted">
                                        Brak
                                    </span>
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Email))
                                {
                                    @item.Email
                                }
                                else
                                {
                                    <span class="text-muted">
                                        Brak
                                    </span>
                                }

                            </td>
                            <td>
                                <form asp-action="Delete" asp-route-userId="@item.UserId" method="post">
                                    <a class="edit" asp-action="UpdateParticipant" asp-route-userId="@item.UserId"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Edytuj">&#xE254;</i></a>
                                    <a href="#@delete" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Usuń">&#xE872;</i></a>
                                    <!--Modal Delete-->
                                    <div class="modal fade" id="@delete" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Usunięcie użytkownika</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Czy jesteś pewien, że chcesz usunąć użytkownika <strong>@item.Email</strong>?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="form-group btn-group">
                                                        <button asp-action="Delete" asp-route-userId="@item.UserId" formmethod="post" type="submit" class="btn delete2_btn">Usuń</button>
                                                        <input type="button" class="btn cancel2_btn" data-dismiss="modal" value="Anuluj">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                @if (!item.Confirm)
                                {
                                    @*<form asp-action="ConfirmUser" asp-route-userId="@item.UserId" method="post">
                                        <a href="#@confirm" class="links" data-toggle="modal">Potwierdź</a>*@
                                    <!--Modal Confirm-->
                                    @*<div id="@confirm" class="modal fade">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Potwierdzenie nowego użytkownika</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Czy jesteś pewien, że chcesz potwierdzić konto użytkownika <strong>@item.Email</strong>?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="form-group btn-group">
                                                            <button asp-action="ConfirmUser" asp-route-userId="@item.UserId" formmethod="post" type="submit" class="btn delete2_btn">Potwierdź</button>
                                                            <input type="button" class="btn cancel2_btn" data-dismiss="modal" value="Anuluj">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                    @*</form>*@
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>        
    </div>


}




