﻿
<link rel="stylesheet" href="~/css/index5.css" />

@section navbar {
    <section class="navbar">
        @Html.Partial("_Navbar_Admin")
    </section>
}

@{
    ViewBag.Title = "Utwórz test";
}

<div class="container_flex">
    <div class="content-fluid">
        <div class="row" id="title">
            <div class="col-sm-10">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</div>