﻿@model ParticipantListIndexVM

<link rel="stylesheet" href="~/css/index5.css" />

@section navbar {
    <section class="navbar">
        @Html.Partial("_Navbar_Admin")
    </section>
}

@{
    ViewBag.Title = "Lista użytkowników";
}

<div class="container_flex">
    <div class="content-fluid">
        <div class="row" id="title">
            <div class="col-sm-10">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="col-sm-2" style="float: right;">
                <div class="" style="float: right;">
                    <a href="@Url.Action("CreateParticipant")" class="btn pull-right">
                        <i class="material-icons" id="icon" data-toggle="tooltip" data-placement="bottom" title="Dodaj">&#xE147;</i>
                    </a>
                </div>
            </div>
        </div>
        <div id="ItemListDiv"></div>

        <div class="row">
            <nav aria-label="Page navigation">
                <ul class="pagination flex-wrap">
                    <li class="page-item @(Model.EnablePrevious ? " " : "disabled" )">
                        <a asp-route-currentPage="1"
                           class="page-link" aria-label="Frist">
                            <span aria-hidden="true">|<</span>
                            <span class="sr-only">Pierwszy</span>
                        </a>
                    </li>
                    <li class="page-item @(Model.EnablePrevious ? " " : "disabled" )">
                        <a asp-route-currentPage="@(Model.CurrentPage -1)"
                           class="page-link" aria-label="Next">
                            <span aria-hidden="true"><</span>
                            <span class="sr-only">Następny</span>
                        </a>
                    </li>
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "" )">
                            <a asp-route-currentPage="@i" class="page-link">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.EnableNext ? " " : "disabled" )">
                        <a asp-route-currentpage="@(Model.CurrentPage + 1)"
                           class="page-link" aria-label="Previous">
                            <span aria-hidden="true">></span>
                            <span class="sr-only">Poprzedni</span>
                        </a>
                    </li>
                    <li class="page-item @(Model.EnableNext ? " " : "disabled" )">
                        <a asp-route-currentPage="@Model.TotalPages"
                           class="page-link" aria-label="Last">
                            <span aria-hidden="true">>|</span>
                            <span class="sr-only">Ostatni</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var listUrl = '@Url.Action(nameof(AdminController.Participants))';

        $(document).ready(function () {
            initialize();
        });

        function initialize() {
            $.get(listUrl).done(function (data) {
                $('#ItemListDiv').html(data);
            });

        };

    </script>

}

