﻿@model UserCreateEditVM
@section navbar_Admin {
    <section class="navbar_Admin">
        @Html.Partial("_Navbar_Admin")
    </section>
}

<link rel="stylesheet" href="~/css/create_user1.css" />

<div class="content_flex">
    <div class="card">
        <div class="card-header">
            <h3><strong>Edytuj profil</strong></h3>
            <button onclick="window.location.href='Index'" type="button" class="close">&times;</button>
        </div>
        <div class="card-body">
            <form asp-action="Update" asp-controller="Admin" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="ModelOnly" id="summary" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" placeholder="@Model.UserName">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="@Model.Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <label class="person-label">Zmiana hasła</label>
                <div class="card-footer">
                    <div class="form-group">
                        <label asp-for="OldPassword" class="control-label"></label>
                        <input asp-for="OldPassword" class="form-control">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <input asp-for="UserId" class="form-control" placeholder="@Model.UserId" hidden>
                    <div class="form-group btn-group">
                        <input type="submit" value="Zapisz" class="btn create_btn">
                        <input type="reset" value="Wyczyść" class="btn cancel_btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
