﻿@model ParticipantCreateEditVM
@section navbar_Admin {
    <section class="navbar_Admin">
        @Html.Partial("_Navbar_Admin")
    </section>
}

<link rel="stylesheet" href="~/css/create_user1.css" />

<div class="content_flex">
    <div class="card">
        <div class="card-header">
            <h3><strong>Edytuj użytkownika</strong></h3>
            <button onclick="window.location.href='Index'" type="button" class="close">&times;</button>
        </div>
        <div class="card-body">
            <form asp-action="UpdateParticipant" asp-controller="Admin" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="ModelOnly" id="summary" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" placeholder="@Model.UserName">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input type="email" asp-for="Email" class="form-control" placeholder="@Model.Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <!--<label class="person-label">Zmiana hasła</label>
                <hr />
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" disabled>-->
                    @*<span asp-validation-for="Password" class="text-danger"></span>*@
                <!--</div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" disabled>-->
                    @*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
                <!--</div>-->
                <label class="person-label">Dane osobowe</label>
                <div class="card-footer">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input type="text" asp-for="FirstName" class="form-control" placeholder="@Model.FirstName">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input type="text" asp-for="LastName" class="form-control" placeholder="@Model.LastName">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList(typeof(PsychologicalTestApp.Models.Enums.Gender))">
                            <option selected="selected" value="">Wybierz</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Age" class="control-label"></label>
                        <input type="number" asp-for="Age" class="form-control" min="1" max="116" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input type="text" asp-for="Description" class="form-control" placeholder="@Model.Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <input asp-for="UserId" class="form-control" placeholder="@Model.UserId" hidden>
                <div class="form-group btn-group">
                    <input type="submit" value="Zapisz" class="btn create_btn">
                    <input type="reset" value="Wyczyść" class="btn cancel_btn">
                </div>
            </form>
        </div>
    </div>
</div>
